@font-face {
	font-family: "Vollkorn";
	src: url("../fonts/Vollkorn-Regular.eot");
	src: url("../fonts/Vollkorn-Regular.woff2") format("woff2"), url("../fonts/Vollkorn-Regular.woff") format("woff"), url("../fonts/Vollkorn-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Vollkorn";
	font-weight: bold;
	src: url("../fonts/Vollkorn-Bold.eot");
	src: local("Vollkorn Bold"), url("../fonts/Vollkorn-Bold.woff2") format("woff2"), url("../fonts/Vollkorn-Bold.woff") format("woff"), url("../fonts/Vollkorn-Bold.ttf") format("truetype");
}		
body {
	font:11pt/20pt "Vollkorn"; 
	text-rendering: optimizeLegibility;
	font-variant-ligatures: common-ligatures;
	font-kerning: normal;
	font-feature-settings: "liga";
	background-color:#f2f2f2;
	color:#333;
	margin: auto;
	padding: 0;
	width:96%;
	max-width: 1850px;/*800px*/
	line-height: 200%;
}
a, a:active, a:visited {
	color: #176fa1;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.graphBlockContainer, .mapBlockContainer {
	width: calc(100% - 20px);
	vertical-align: middle;
	display: flex;
	padding-bottom: 15px;
	align-items: center;
}
.graphBlock {
	display: inline-block;
	width: 100%;
}
.graphBlock img {
	width: 98%;
	max-width: 800px;
}
.graphBlock .piechart {
	width: 98%;
	max-width: 800px;
}
.graphBlock h2 {
	margin-bottom: 0px;
	margin-left: 82px;
}
.mapBlock {
	display: inline-block;
	width: 100%;
	margin: auto;
}
.mapBlock img{
	width: 98%;
	max-width: 600px;
	padding-bottom: 15px;
}

.centerText {
	text-align: center;
}
.justifyText {
	text-align: justify;
}
.green {
	color: #008800;
}
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: white;
	z-index: 1;
}
h1 {
	border-bottom: 1px solid #d8d8d8;
	padding: 8px;
	font-size: 2.25em;
	margin: auto;
	letter-spacing: 0.05em;
	max-width: 900px;
}
.navBar {
	background-color: #666;
	height: auto;
	position: fixed;
	right: calc(50% - 400px);
	top: 0px;
	z-index: 2;
}
.navDropdown {
	float: left;
	overflow: hidden;
	display: block;
}
.navButton {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 10px 12px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}
.navDropdown:hover .navButton {
	background-color: #176fa1;
}
.navLinks {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
	z-index: 1;
	right: 0;
}
.navLinks a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.navLinks a:hover {
	background-color: #ddd;
}
.navLinks a.region {    
	padding: 0px 16px;
	font-size: 13px;
}
.navLinks hr {
	border-bottom: 0;
}
.navDropdown:hover .navLinks {
	display: block;
}

svg#thuringiaMap {
	margin: 0 auto; 
	display: none;
	width: 95%;
    max-width: 966px;
    max-height: 758px;
}
svg text {
	font-family:arial;
	text-align:center;
	text-anchor:middle
}
svg #Districts_Color, svg #region_names tspan, svg #region_names text {
	cursor: pointer
}
svg #District_borders path {
	fill: none;
	stroke: #F9F9F9;
	stroke-width: 1.25;
	stroke-linejoin: round;
	stroke-miterlimit: 3.9161;
}
svg #state_borders_path {
	fill: none;
	stroke: #444444;
	stroke-width: 3;
	stroke-linejoin: round;
	stroke-miterlimit: 3.8637;
}

div#selectorLinks {
	margin-top: 20px;
	margin-bottom: 10px;
}

div#selectorLinks span {
	margin: 0 10px;
	color: #176fa1;;
	cursor: pointer;
}

@media (max-width: 800px) {
	body {  
		margin-top: 1em; 
	}
	h1 {
		max-width: 400px;
		font-size: 1.75em;
	}
	.navBar {
		right: 5px;
	}
	.graphBlockContainer,  .mapBlockContainer {
		display: inline;
	}

	.graphBlock h2 {
		margin-left: 42px;
	}
}
